body{
    background-image: url(https://i.pinimg.com/564x/83/c1/fa/83c1fa3a6fa35365e268c8176bf6b01a.jpg);
    padding: 2%;
    color: rgb(109, 7, 168);
    max-width: 980px;
    margin: 0 auto;
    background-color: darkslategray;
}

div{
    display: flex;
    flex-flow: row wrap;
}

.field, .textarea{
    margin: 0.5em 1em 0;
    padding: .5em 1em;
    border: 1px solid #ccc;
}

.field{
    flex: 1 0 40%;
    width: 45%;
    float: left;
}

.textarea{
    flex: 1 0 90%;
    width: 90%;
}

.button{
    padding: 5px;
    border: 1px solid #ccc;
    background-color: rgb(160, 95, 138);
    color: #fff;
}